* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Especificando el tipo de letra en para todo el archivo */
    margin: 0;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;  /* Especificando una separacion */
}

a {
    text-decoration: none;
}

.cabecera-derecha {
    display: flex;
    align-items: center;/* Especificando los elementos al centro */
    margin-top: 20px; /* Especificando el margen de arriba */
}

.cabecera-izquierda {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.Gmail {
    margin-right: 20px; /* Especificando un margen hacia la derecha para poner una separacion*/
}

.Imatges {
    margin-right: 20px;
}

.sobre-google {
    margin-right: 20px;
    margin-left: 20px;/* Especificando un margen hacia la izquierda para poner una separacion*/

}

.boton-iniciar-sesion {
    background-color: #2b7de9; /* Color de fondo del boton*/
    border: none;
    border-color: #2b7de9; /* Color del borde del boton*/
    color: #FFF; /* Color de la letra del boton*/
    height: 36px;
    width: 114px;
    border-radius: 4px; /* Borde 4px redondeado*/
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px; /* Tamaño de la letra del boton*/

}

.boton-iniciar-sesion:hover {
    cursor: pointer; /* Esto sirve para hacer el click*/
    background-color: #2b7de9; /* Color de fondo del boton*/

}

.imagen-google {
    margin-top: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Centrando la imagen de Google*/

}

.buscador-google {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.barra-de-busqueda {
    width: 600px; /* Ancho de la barra de busqueda*/
    border: solid 1px #8c8c8f; /* Borde del buscador de google*/
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: 10px;
}
.search-icon:hover {
    cursor: pointer; /* Esto sirve para hacer el click*/
}
.keyboard-icon{
    margin-right: 5px;
}
.keyboard-icon:hover {
    cursor: pointer; /* Esto sirve para hacer el click*/
}
.camera-icon{
    margin-left: 7px ;
    margin-right: 10px;
}
.camera-icon:hover {
    cursor: pointer; /* Esto sirve para hacer el click*/
}



.texto-google {
    width: 480px;
    height: 35px;
    border: none;
    outline: none;  /* Quitando la linea del input text*/
    margin-left: 12px;
    font-size: 16px;
}


.seccion-idiomas {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.link1 {
    margin-right: 10px;
    margin-left: 10px;
}

.link2 {
    margin-right: 10px;
}

.link3 {
    margin-right: 10px;
}

.botones-de-google {
    display: flex;
    justify-content: center;
}

.suerte-google {
    height: 36px;
    background-color: #dfe1e4; /* Color del fondo del boton*/
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
}

.suerte-google:hover {
    cursor: pointer;
    background-color: #dfe1e4;
}

.buscar-google {
    margin-right: 15px;
    height: 36px;
    background-color: #dfe1e4;
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
}

.buscar-google:hover {
    cursor: pointer;
    background-color: #dfe1e4;
}

.pais-españa {
    margin-bottom: px;
    background-color: #cacbcc;
    padding: 20px 30px 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cacbcc;
    padding: 15px 30px 25px;
    margin-top: -20px;
    border-top: 1px solid #070707;
}

.Privacidad {
    margin-right: 20px; /* Poniendo un margen hacia la derecha*/
}

.Términos {
    margin-right: 20px;
}

.Publicidad {
    margin-right: 20px;
}

.Empresa {
    margin-right: 20px;
}